@model coreuygulama.Models.Kitaplar

@{
    ViewData["Title"] = "Kaydet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kaydet</h1>

<h4>Kitaplar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Kaydet">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="kitapadi" class="control-label"></label>
                <input asp-for="kitapadi" class="form-control" />
                <span asp-validation-for="kitapadi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="basimyili" class="control-label"></label>
                <input asp-for="basimyili" class="form-control" />
                <span asp-validation-for="basimyili" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="turid" class="control-label"></label>
                <input asp-for="turid" class="form-control" />
                <span asp-validation-for="turid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YazarId" class="control-label"></label>
                <select asp-for="YazarId" class ="form-control" asp-items="ViewBag.YazarId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
